<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 16px;" *ngIf="messageService.successMessage">
    {{messageService.successMessage}}
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 16px;" *ngIf="messageService.errorMessage">
    {{messageService.errorMessage}}
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
</div>
